[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin-interface = "*"
whitenoise = "*"
drf-spectacular-sidecar = "*"
psycopg = {extras = ["binary"], version = "*"}
psycopg2-binary = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
drf-spectacular = "*"
markdown = "*"
pillow = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
